@font-face {
    font-family: "Gotham-Ultra";
    src: url("../fonts/Gotham-Ultra.otf");
}
.news-detail{
    width:80%;
    margin-top: 10rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
    padding:2rem;
    align-items: center;
}
.news-detail .news-image{
    width:85%;
    height: 20rem;
    margin-left: 4.5rem;
}
.news-detail .title-news{
    color: #2c2e53;
    font-family: "Gotham-Ultra";
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.news-detail .news-content{
    color:#212529;
    font-family: "Gotham-Medium";
    align-items: center;
    margin-top:3rem;
}